@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "components/Nav/Nav.css";

body {
  margin: 0;
  padding: 0;
  background: #1f1f1f;
  color: #d1d1d1;
  font-family: "Inter", sans-serif;
}
