wg-nav {
  nav {
    display: flex;
    gap: 10px;
    background-color: #ffffff;
    height: max-content;
  }

  a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #1f1f1f;
    font-weight: bold;
    padding: 0.5rem;
  }

  .selected {
    background-color: grey;
  }
}
